<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <link rel="icon" href="/favicon.ico" />
  <title>前端试手</title>
</head>

<body>
  <div id="app">
    <style>
      html,
      body,
      #app {
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
      }
    </style>
    <!-- <div class="__spinner-container">
        <div class="loader"></div>
      </div> -->
  </div>
  <script type="module" src="/src/main.ts"></script>

  <!-- <% if (ENABLE_ERUDA === "true") { %>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
      eruda.init();
    </script>
    <% } %> -->
</body>

</html>